@model List< WebBanHangLapTop.Models.Category>
<h1>Category</h1>
@Html.ActionLink("New category", "CreateCategory", "Category", "", new { @class = "btn btn-primary" })

<table class="table">
    <thead>
        <tr>
            <td>Name</td>
            @* <td>Số lượng</td>  *@
            <td>Actions</td>
        </tr>
    </thead>
    <Tbody>
       
            @foreach(var item in Model)
            {
            <tr>
                <td>@item.Name</td>

                @* <td>@ViewBag.ListNumberCategori[@item.Id]</td> *@
                    
                       
                
                <td>
                    @Html.ActionLink("Chi tiết", "");
                    @Html.ActionLink("Sửa", "");
                    @Html.ActionLink("Xóa", "");
                </td>
            </tr>
            }
        
    </Tbody>
</table>

