@model IEnumerable<WebBanHangLapTop.Models.Product>

@{
    Layout = "AdminLayout";
}

<h2>Products</h2>

<a href="/admin/AdminProduct/Add" class="btn btn-success">Add</a>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Category</th>
            <th>Brand</th>
            <th>Image</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>@product.Description</td>
                @*   @foreach (var item in ViewBag.categorys)
            {
            if (item.Id == @product.CategoryId)
            {
            <td>@item.Name</td>
            break;
            }
            } *@
                <td>@product.Category?.Name</td>
                <td>@product.Brand?.BrandName</td>

                <td>
                    <img src="@product.ImageUrl" style="max-width:200px; height:auto;" class="imageGallery" loading="lazy" />
                </td>
                <td>

                    <a class="btn btn-success" href="/admin/AdminProduct/Details/@product.Id">View</a> |
                    <a class="btn btn-primary" href="/admin/AdminProduct/Edit/@product.Id">Update</a> |
                    <a class="btn btn-success" href="/admin/AdminProduct/Delete/@product.Id">Delete</a> |
                </td>
            </tr>
        }
    </tbody>
</table>
